.root {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  height: 40px;
  width: 200px;

  border-radius: 5px;
  padding: 0 10px;
  margin: 10px 0;

  font-weight: 700;
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;

  border: 1px solid var(--base-white);
  background-color: transparent;
  color: var(--base-white);

  cursor: pointer;

  transition: all 250ms ease;

  &:hover:enabled {
    background-color: var(--base-white);
    color: var(--base-blue);
    box-shadow: 0 5px 15px rgba(255, 255, 255, .4);
  }

  &:disabled {
    background-color: transparent;
    color: var(--base-gray);
    border: 1px solid var(--base-gray);
  }
}
